<style>
    .grid {
        padding: 12px;
    }

    .card:hover {
        /* https://tobiasahlin.com/blog/how-to-animate-box-shadow */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease-in-out;
    }

    p, li { text-align: justify; font-size: 85%; line-height: 1.3em; }
</style>
<table>
    <tr class="grid">
        <td colspan=5>
            <h3 style="margin-top: 15px; font-size: 1.2em" class='section-heading'>A search engine for GGM's images</h3>
            <p>
                This website provides a means to "slice-and-dice" some of the myriad data elements
                of the GGM Archive project.  The material available here is only part of the collection.
                It consists of 51,854 images (scanned from 35mm slides), organized by Maskarinec
                by date, name, location, and Locke Number.
                (<a href="https://archive.org/details/BuddhistMonasteriesOfNepalSurveyOfBahasAndBahisOfKathmanduValleyByJohnK.Locke">Locke, John K. Buddhist Monasteries of Nepal: A Survey of the Bāhās and Bahīs of the Kathmandu Valley</a>)
            </p>
            <p><b>This is a work in progress! Caveat utilizator!</b></p>
            <p>It is a search engine that allows you to search for 5 types of GGM data:</p>
            <p></p>
            <ul>
                <li>"Top level" (Maskarinec organized materials into a folder hierarchy; the
                    top level has been rendered as a searchable facet on the left)
                </li>
                <li>Site (Bāhā or Bahī name)</li>
                <li>Locke number</li>
                <li>City (location of site)</li>
                <li>Year (photo was taken)</li>
            </ul>
            <p>So, in this case, the result is always</p>
            <ul>
                <li>Images</li>
            </ul>
            </p>
            <p>
                Besides these images, the collection includes hundreds of documents
                and dozens of video and audio recordings.
            </p>
             <hr/>
        </td>
    </tr>
</table>
