<style>
    .grid {
        padding: 12px;
    }

    .card:hover {
        /* https://tobiasahlin.com/blog/how-to-animate-box-shadow */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease-in-out;
    }
</style>
<table>
    <tr class="grid">
        <td colspan=5>
            <h3 style="margin-top: 15px; font-size: 1.2em" class='section-heading'>A search engine for GGM's images</h3>
            <p style="text-align: justify; font-size: 85%; line-height: 1.3em;">
                This website provides a means to "slice-and-dice" some of the myriad data elements
                of the GGM Archive project.
            </p>
            <p><b>This is a work in progress! Caveat utilizator!</b></p>
            This search engine allows you to search for 4 types of GGM data:
            <ul>
                <li>Year</li>
                <li>Location (Baha or Bahi name)</li>
                <li>Locke number</li>
                <li>Images</li>
            </ul>
            <p>... or combinations of the above</p>
            <!-- img src="/images/tap1.png" -->
             <hr/>
        </td>
    </tr>
</table>
